* {
    box-sizing: border-box;
    user-select: none;
}

*, *:before, *:after {
    box-sizing: border-box;
    user-select: none;
}

.wrapper {
    width: 60vw;
    height: 55vh;
    box-sizing: border-box;
    user-select: none;
    margin: 0 auto;
    transform: translateY(40%);
}

.pixel {
    background-color: white;
    outline: 1px solid lightgrey;
    height: 10px;
    width: 10px;
    box-sizing: border-box;
    user-select: none;
}

.floatL {
    float: left;
    box-sizing: border-box;
    user-select: none;
}

#colorPickerDiv {
    position: fixed;
    opacity: 0.5;
    top: 0;
    left: 0;
    user-select: none;
}

#colorPickerDiv:hover {
    opacity: 1;
}
